img{
    width: 350px;
    border-radius: 25px;
    border: 2px solid black;
    margin: 10px;
}
.galeria{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
nav ul{
    display: flex;
    border: 2px solid white;
    background-color: black;
    justify-content: space-around;
    
}
li a{
    color: white;
}
h1{
    display: flex;
    justify-content: center;
    color: white;
    background-color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h2{
     display: flex;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    background-color: black;
}
p{
    font-size: large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}
footer{
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
}